html {
  background-color: #012;
}

.page-header {
padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  z-index:200;
}


img{

   left: 50%;
   position: absolute;
   top: 100%;
   width: 10%;
 	transform: translate(-50%, -50%);
 	z-index:100;
}

@-webkit-keyframes rot-merc {
  from {
    -webkit-transform: rotate(0deg) translatey(-102px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translatey(-102px) rotate(-360deg);
  }
}
@-keyframes rot-merc {
  from {
    transform: rotate(0deg) translatey(-102px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translatey(-102px) rotate(-360deg);
  }
}


#Mercury{

	width: 3%;
	margin: -1.5%;
	-webkit-animation: rot-merc 88s infinite linear;
  	animation: rot-merc 88s infinite linear;
}

.Mercury-path {
  width: 204px;
  height: 204px;
  border-radius: 50%;
transform: translate(-102px, -102px);
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid 1px #444;
  z-index:1;
}

@-webkit-keyframes rot-venus {
  from {
    -webkit-transform: rotate(0deg) translatey(-150px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translatey(-150px) rotate(-360deg);
  }
}
@-keyframes rot-venus {
  from {
    transform: rotate(0deg) translatey(-150px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translatey(-150px) rotate(-360deg);
  }
}


#Venus{

	width: 3%;
	margin: -1.5%;
	-webkit-animation: rot-venus 225s infinite linear;
  	animation: rot-venus 225s infinite linear;
}

.Venus-path {
  width: 300px;
  height: 300px;
  border-radius: 50%;
transform: translate(-150px, -150px);
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid 1px #444;
  z-index:1;
}

@-webkit-keyframes rot-earth {
  from {
    -webkit-transform: rotate(0deg) translatey(-228px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translatey(-228px) rotate(-360deg);
  }
}
@-keyframes rot-earth {
  from {
    transform: rotate(0deg) translatey(-228px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translatey(-228px) rotate(-360deg);
  }
}


#Earth{

	width: 5%;
	margin: -2.5%;
	-webkit-animation: rot-earth 365s infinite linear;
  	animation: rot-earth 365s infinite linear;
}

.Earth-path {
  width: 456px;
  height: 456px;
  border-radius: 50%;
transform: translate(-228px, -228px);
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid 1px #444;
  z-index:1;
}

@-webkit-keyframes rot-mars {
  from {
    -webkit-transform: rotate(0deg) translatey(-300px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translatey(-300px) rotate(-360deg);
  }
}
@-keyframes rot-mars {
  from {
    transform: rotate(0deg) translatey(-300px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translatey(-300px) rotate(-360deg);
  }
}


#Mars{

	width: 4%;
	margin: -2%;
	-webkit-animation: rot-mars 687s infinite linear;
  	animation: rot-mars 687s infinite linear;
}

.Mars-path {
  width: 600px;
  height: 600px;
  border-radius: 50%;
transform: translate(-300px, -300px);
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid 1px #444;
  z-index:1;
}

@-webkit-keyframes rot-jupiter {
  from {
    -webkit-transform: rotate(0deg) translatey(-390px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translatey(-390px) rotate(-360deg);
  }
}
@-keyframes rot-jupiter {
  from {
    transform: rotate(0deg) translatey(-390px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translatey(-390px) rotate(-360deg);
  }
}


#Jupiter{

	width: 8%;
	margin: -4%;
	-webkit-animation: rot-jupiter 4329s infinite linear;
  	animation: rot-jupiter 4329s infinite linear;
}

.Jupiter-path {
  width: 750px;
  height: 750px;
  border-radius: 50%;
transform: translate(-390px, -390px);
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid 1px #444;
  z-index:1;
}

@-webkit-keyframes rot-saturn {
  from {
    -webkit-transform: rotate(0deg) translatey(-500px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translatey(-500px) rotate(-360deg);
  }
}
@-keyframes rot-saturn {
  from {
    transform: rotate(0deg) translatey(-500px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translatey(-500px) rotate(-360deg);
  }
}


#Saturn{

	width: 8%;
	margin: -4%;
	-webkit-animation: rot-saturn 10751s infinite linear;
  	animation: rot-saturn 10751s infinite linear;
}

.Saturn-path {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
transform: translate(-500px, -500px);
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid 1px #444;
  z-index:1;
}


@-webkit-keyframes rot-uranus {
  from {
    -webkit-transform: rotate(0deg) translatey(-600px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translatey(-600px) rotate(-360deg);
  }
}
@-keyframes rot-uranus {
  from {
    transform: rotate(0deg) translatey(-600px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translatey(-600px) rotate(-360deg);
  }
}


#Uranus{

	width: 8%;
	margin: -4%;
	-webkit-animation: rot-uranus 30664s infinite linear;
  	animation: rot-uranus 30664s infinite linear;
}

.Uranus-path {
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
transform: translate(-600px, -600px);
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid 1px #444;
  z-index:1;
}

@-webkit-keyframes rot-neptune {
  from {
    -webkit-transform: rotate(0deg) translatey(-700px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translatey(-700px) rotate(-360deg);
  }
}
@-keyframes rot-neptune {
  from {
    transform: rotate(0deg) translatey(-700px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translatey(-700px) rotate(-360deg);
  }
}


#Neptune{

	width: 8%;
	margin: -4%;
	-webkit-animation: rot-neptune 60148s infinite linear;
  	animation: rot-neptune 60148s infinite linear;
}

.Neptune-path {
  width: 1400px;
  height: 1400px;
  border-radius: 50%;
  transform: translate(-700px, -700px);
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid 1px #444;
  z-index:1;
}