<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniversMaps</title>
    <link rel="stylesheet" type="text/css" href="style.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <script>
	  var httpRequest
	  var planet
	  function makeRequest(name) {
	    httpRequest = new XMLHttpRequest();
	    if (!httpRequest) {
	      alert('Abandon :( Impossible de créer une instance de XMLHTTP');
	      return false;
	    }
	    planet = name;
	    
	    httpRequest.onreadystatechange = alertContents;
	    httpRequest.open('GET', '/popup/'+ name);
	    httpRequest.send();
	   
	  }

	  function alertContents() {
		  if (httpRequest.readyState === XMLHttpRequest.DONE) {
	  	      if (httpRequest.status === 200) {
	  	    	var data=httpRequest.responseText;
	  	    	var jsonResponse = JSON.parse(data);
	  	    	var len = Object.keys(jsonResponse).length;
	  	    	var keys = Object.keys(jsonResponse);
	  	    	if (len == 0){document.getElementById("data"+planet+"load").innerHTML = "Pas de données...";}
	  	    	else{document.getElementById("data"+planet+"load").style.display = 'none';}
	  	    	for (var i = 0; i < len-1; i++)
	  	    	{
	  	    		var name = keys[i];
	  	    		console.log(jsonResponse[name]);
	  	    		document.getElementById("data"+planet+""+name).innerHTML =  jsonResponse[name];
	  	    		document.getElementById("data"+planet+""+name).style.display = 'block';
	  	    	}
	  	    	//document.getElementById("data"+planet+).innerHTML = jsonResponse["abstractd"];
	  		    httpRequest = -1
	  	      } else {
	  	        alert('Il y a eu un problème avec la requête.');
	  	      }
	  	    }

	  }
	  

  </script>
  

</head>

<header class="page-header">
    <h1>UniversMaps!</h1>
</header>

<body>




		
		  <!-- Modal -->
	  

<div class="container">

  <!-- Trigger the modal with a img -->
  
  <select name="planets" id="planets-select" onChange='makeRequest(this.value)'>
    <option value="">--Please choose an option--</option>
    
    <option th:each="planet : ${planetsList}"
             th:value="${planet.name}"
             th:text="${planet.name}" th:attr="onclick=|makeRequest('${planet.name}')|" data-toggle="modal" th:data-target="${'#'+planet.name+'modal'}"/>

</select>


  <!-- Trigger the modal with a img -->
  
  <div th:each="planet : ${planets}">
   <div th:class="${planet.name+'-path'}"></div>
	  <a th:class="${planet.name}"  th:attr="onclick=|makeRequest('${planet.name}')|"  data-toggle="modal" th:data-target="${'#'+planet.name+'modal'}">
			<img th:id="${planet.name}"  th:src="@{'/photos/' + ${planet.name} + '.png'}" th:alt="${planet.name}"/>
		</a>
		
		  <!-- Modal -->
	  <div class="modal fade" th:id="${planet.name+'modal'}" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title" th:text="${planet.name}"></h4>
	        </div>
	        <div th:id="${'data'+planet.name+'load'}" class="modal-body">
	          <p>Chargement des données.</p>
	        </div>
	        <div th:id="${'data'+planet.name+'name'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'abstractd'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'atmosphereComposition'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'averageSpeed'}"style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'formerName'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'orbitalPeriod'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        
	        <div th:id="${'data'+planet.name+'periapsis'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'surfaceGrav'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'density'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'apoapsis'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'volume'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'satellites'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'escapeVelocity'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        
	        <div th:id="${'data'+planet.name+'childLabel'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'date'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	         <div th:id="${'data'+planet.name+'discoverer'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'dist'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'perimeter'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'area'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'diameter'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'period'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        <div th:id="${'data'+planet.name+'mass'}" style="display:none;" class="modal-body">
	          <p></p>
	        </div>
	        
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
		
  </div>
	
	

  
</div>

</body>
</html>